altair==2.3.0
appnope==0.1.0
asn1crypto==0.24.0
attrs==18.2.0
backcall==0.1.0
basemap==1.2.0
beautifulsoup4==4.7.1
bleach==3.1.0
bokeh==1.0.4
branca==0.3.1
Cartopy==0.17.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
conda==4.6.3
cryptography==2.5
cryptography-vectors==2.5
cycler==0.10.0
decorator==4.3.2
descartes==1.1.0
entrypoints==0.3
Fiona==1.8.4
Flask==1.0.2
folium==0+unknown
GDAL==2.4.0
geocoder==1.38.1
geojson==2.4.1
geojson-utils==0.0.2
geopandas==0.4.0
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
jsonschema==3.0.0a3
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.3.0
MarkupSafe==1.1.0
matplotlib==3.0.2
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
munch==2.3.2
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.7.4
numpy==1.15.4
olefile==0.46
orderedset==2.0.1
overpy==0.4
OWSLib==0.17.1
packaging==19.0
pandas==0.24.0
pandocfilters==1.4.2
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
plotly==3.5.0
prometheus-client==0.5.0
prompt-toolkit==2.0.8
psycopg2==2.7.7
ptyprocess==0.6.0
pyarrow==0.11.1
pycosat==0.6.3
pycparser==2.19
pyepsg==0.4.0
Pygments==2.3.1
pykdtree==1.3.1
pyOpenSSL==18.0.0
pyparsing==2.3.1
pyproj==1.9.6
pyrsistent==0.14.9
PySAL==1.14.4.post2
pyshp==2.0.1
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
pyzmq==17.1.2
ratelim==0.1.6
requests==2.21.0
retrying==1.3.3
Rtree==0.8.3
ruamel-yaml==0.15.71
scipy==1.2.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
six==1.12.0
soupsieve==1.7.1
SQLAlchemy==1.2.17
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
vincent==0.4.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
xlrd==1.2.0
XlsxWriter==1.1.2
