<!DOCTYPE html>
<html lang="DE">
<head>
<meta charset="UTF-8">

    {% include "head.html" %}

    {% block page_styles %}
    {% endblock %}

    {% block page_script %}
    {% endblock %}

</head>
<body>
<div class="container-fluid h-100 w-100" id="main-container">
    <div class="row w-100 align-items-start" id="header-row">
        <div class="page-header" id="custom-header">
          <h1>{{ page_title }} <small id="ws"> {{ year }} {{ gender }}</small></h1>
        </div>
    </div>

    <div class="row justify-content-end" id="main-content" >

        <div class="col-md-3 pr-5 pl-5 order-2" id="options-bar">
            <h2 class="mb-3">Studierende in Deutschland</h2>

            <form id="data-selector-form">
                {% block data %}
                <!-- Data Selector -->
                <div class="mb-3">
                    <label for="data-selector">Wähle die Daten aus:</label>
                    <select class="custom-select d-block w-100 mr-4" id="data-selector">
                        <option value="st_bd" {% if ds=="st_bd" %} selected="selected"{% endif %}>Studierende nach Bundesländer</option>
                        <option value="university-foundation-year" {% if ds=="university-foundation-year" %} selected="selected"{% endif %}>Hochschulen nach Gründungsjahr</option>
                        <option value="place-of-study" {% if ds=="place-of-study" %} selected="selected"{% endif %}>Studienort vs. Land des Erwerbs der
                            Hochschulzugangsberechtigung
                        </option>
                    </select>
                </div>
                <!-- Selector -->
                {% endblock %}
            </form>

            <form id="options-selector-form">
                <!-- Nationality Checkbox -->
                 {% block nationality %}
                <div class="form-group" id="form-nationality">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="nationality" id="nationalityRadio1"
                               value="Insgesamt" checked>
                        <label class="form-check-label" for="nationalityRadio1">Insgesamt</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="nationality" id="nationalityRadio2"
                               value="Deutsche">
                        <label class="form-check-label" for="nationalityRadio2">Deutsche</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="nationality" id="nationalityRadio3"
                               value="Ausländer">
                        <label class="form-check-label" for="nationalityRadio3">Ausländer</label>
                    </div>
                </div>
                 {% endblock %}
                <!-- Nationality Checkbox -->
                <!-- Gender Checkbox -->
                 {% block gender %}
                <div class="form-group" id="form-gender">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="genderRadio1" value="Insgesamt"
                               checked>
                        <label class="form-check-label" for="genderRadio1">Insgesamt</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="genderRadio2" value="männlich">
                        <label class="form-check-label" for="genderRadio2">männlich</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="genderRadio3" value="weiblich">
                        <label class="form-check-label" for="genderRadio3">weiblich</label>
                    </div>
                </div>
                 {% endblock %}
                <!-- Gender Checkbox -->
                 {% block year %}
                <!-- Year Selector -->
                <div class="mb-3" id="form-year">
                    <label for="year-selector">Wintersemester:</label>
                    <select class="custom-select d-block w-100 mr-4" id="year-selector">
                    <!-- add option using template -->
                        {% for k in years %}
                            <option value="{{ k }}" {{ 'selected' if k == selected_year }} >{{ k }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Year Selector -->
                 {% endblock %}
                 {% block state %}
                  <!-- Bundesland Selector -->
                <div class="mb-3" id="form-state">
                    <label for="state-selector">Land des Erwerbs der Hochschulzugangsberechtigung:</label>
                    <select class="custom-select d-block w-100 mr-4" id="state-selector">
                    <!-- add option using template -->
                        {% for k in states %}
                            <option value="{{ k }}" {{ 'selected' if k == selected_state }} >{{ k }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Bundesland Selector -->
                 {% endblock %}
            </form>

            {% block year_slider %}
            {% endblock %}

        </div>
        <div class="col-md-9 pr-0 pl-0 h-100 order-1">
            <div class="row w-100" id="folium-map" style="z-index: -1">
                {% block map %}
                {% endblock %}
            </div>

            <div class="row w-100 mr-0 ml-0 statistic-content" >
                <div class="btn-showinfo justify-content-center">
                    <a><i class="fas fa-angle-up angle"></i></a>
                    <a>Mehr Information</a>
                </div>
                <div class="extra-content container-fluid">
                    <div class="row mr-0 ml-0 mt-5 mb-5 w-100 justify-content-center" id="extra-content-title">
                        {% block articletitle %}
                        {% endblock %}
                    </div>
                    <div class="row mr-0 ml-0 w-100" id="extra-content-article">
                        <div class="col-md-5 h-100">
                        {% block article %}
                        {% endblock %}
                    </div>
                    <div class="col-md-7 h-100">

                        {% block graph %}
                        {% endblock %}
                    </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>


{% block content %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/service.js') }}"></script>
{% endblock %}


</body>
</html>