{% extends 'base.html' %}

{% block page_script %}
<!-- Bokeh includes-->
{{ js | safe }}
{{ css | safe }}
{% endblock %}

{% block map %}
<div style ='position: absolute;
                top: 5px;
                right: 10px;
                width: 450px;
                height: 48px;
                background-color: white;
                opacity: 0.8;
                z-index: 500;
                font-size: 12px;
                padding: 10px 5px 5px 10px;
                -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
                box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);'></div>
{% include 'map-place-of-study.html' %}
{% endblock %}

{% block data %}
    {{ super() }}
{% endblock%}

{% block gender %}
    {{ super() }}
{% endblock %}

{% block nationality %}
{% endblock %}

{% block year %}
    {{ super() }}
{% endblock %}

{% block state %}
    {{ super()}}
{% endblock%}

{% block articletitle %}
<h4>Verteilung der Studierenden nach Studienort, die in <span id="state-hzb">{{ selected_state }} </span> die HZB
    bekommen haben</h4>
{% endblock %}

{% block article %}
<div class="col-5 h-100">
    <table class="table table-hover" id="table-place-of-study">
        <thead>
        <tr>
            <th class="d-inline-block col-6" scope="col">Bundesland</th>
            <th class="d-inline-block col-3 text-right" scope="col">Studierende, abs.</th>
            <th class="d-inline-block col-3 text-right" scope="col">Studierende, rel.</th>
        </tr>
        </thead>
        <tbody>
        {% for key in table %}
        <tr>
            <th class="d-inline-block col-6 font-weight-normal" scope="row">{{ key[0]|e }}</th>
            <td class='d-inline-block col-3 text-right students_a'>{{ "{:,}".format(key[1])|e }}</td>
            <td class='d-inline-block col-3 text-right students_r'>{{ "{:.2%}".format(key[1]/total)|e }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block graph %}
<div class="col-7 mt-3 h-100">
    <div class="float-right" id="graph">
        {{ script | safe }}
        {{ div | safe }}
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}