{% extends 'base.html' %}


{% block map %}

<div id='custom-legend'>
    <div id="bin-box">
        <div id="bin0">
            <p>0</p>
        </div>
        <div id="bin1">
            <p>39000</p>
        </div>
        <div id="bin2">
            <p>55000</p>
        </div>
        <div id="bin3">
            <p>113000</p>
        </div>
        <div id="bin4">
            <p>200000</p>
        </div>
        <div id="bin5">
            <p>752000</p>
            <p>777000</p>
        </div>
    </div>
</div>
    <!--{% include 'timeslider.html' %}-->
    {% include 'map.html' %}
{% endblock %}

{% block data %}
    {{ super() }}
{% endblock%}

{% block gender %}
    {{ super() }}
{% endblock %}

{% block nationality %}
    {{ super() }}
{% endblock %}

{% block year %}
    {{ super() }}
{% endblock %}

{% block year_slider %}
{% endblock %}

{% block state %}
{% endblock %}

{% block articletitle %}
<h4>Die Anzahl der Studierenden in Deutschland</h4>
{% endblock %}

{% block article %}

<table class="table table-hover col-7" id="table-students-states">
  <thead>
    <tr>
        <th class="d-inline-block col-4" scope="col">Bundesland</th>
        <th class="d-inline-block col-2 text-right" scope="col">Bevölkerung</th>
        <th class="d-inline-block col-3 text-right" scope="col">Studierende, abs.</th>
        <th class="d-inline-block col-3 text-right" scope="col">Studierende, rel.</th>
    </tr>
  </thead>
  <tbody>
     {% for key in table %}
    <tr>
        <th class="d-inline-block col-4 font-weight-normal" scope="row">{{ key[0]|e }}</th>
        <td class='d-inline-block col-2 text-right population'>{{ "{:,}".format(key[1])|e }}</td>
        <td class='d-inline-block col-3 text-right students_a'>{{ "{:,}".format(key[2])|e }}</td>
        <td class='d-inline-block col-3 text-right students_r'>{{ "{:.2%}".format(key[2]/key[1])|e }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}

{% block graph %}
<!--<div class="float-right" id="graph">-->
    <!--{{ script | safe }}-->
    <!--{{ div | safe }}-->
<!--</div>-->
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}