{% extends 'base.html' %}


{% block map %}

<div id='custom-legend'></div>
    <!--{% include 'timeslider.html' %}-->
    {% include 'map.html' %}
{% endblock %}

{% block data %}
    {{ super() }}
{% endblock%}

{% block gender %}
    {{ super() }}
{% endblock %}

{% block nationality %}
    {{ super() }}
{% endblock %}

{% block year %}
    {{ super() }}
{% endblock %}

{% block year_slider %}
<!--<div class="mb-0" id="year-slider-students"></div>-->
<!--<div class="d-flex justify-content-between" id="slider-range">-->
    <!--<span>1998/99</span>-->
    <!--<span>2016/17</span>-->
<!--</div>-->
{% endblock %}

{% block state %}
{% endblock %}

{% block articletitle %}
<h4>Die Anzahl der Studierenden in Deutschland</h4>
{% endblock %}

{% block article %}

<table class="table table-hover w-50" id="table-students-states" >
  <thead>
    <tr>
        <th class="d-inline-block col-4" scope="col">Bundesland</th>
        <th class="d-inline-block col-2 text-right" scope="col">Bevölkerung</th>
        <th class="d-inline-block col-3 text-right" scope="col">Studierende, abs.</th>
        <th class="d-inline-block col-3 text-right" scope="col">Studierende, rel.</th>
    </tr>
  </thead>
  <tbody>
     {% for key in table %}
    <tr>
        <th class="d-inline-block col-4" scope="row">{{ key[0]|e }}</th>
        <td class='d-inline-block col-2 text-right population'>{{ "{:,}".format(key[1])|e }}</td>
        <td class='d-inline-block col-3 text-right students_a'>{{ "{:,}".format(key[2])|e }}</td>
        <td class='d-inline-block col-3 text-right students_r'>{{ "{:.2%}".format(key[2]/key[1])|e }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}

{% block graph %}
<!--<div class="float-right" id="graph">-->
    <!--{{ script | safe }}-->
    <!--{{ div | safe }}-->
<!--</div>-->
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}