{% extends 'base.html' %}

{% block map %}

<div id = 'legend-bg'></div>
    {% include 'timeslider.html' %}
{% endblock %}

{% block data %}
    {{ super() }}
{% endblock%}

{% block gender %}
    {{ super() }}
{% endblock %}
{% block nationality %}
    {{ super() }}
{% endblock %}

{% block year %}

{% endblock %}

{% block year_slider %}
<div class="mb-0" id="year-slider-students"></div>
<div class="d-flex justify-content-between" id="slider-range">
    <span>1998/99</span>
    <span>2016/17</span>
</div>
{% endblock %}

{% block state %}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}