{% extends 'base.html' %}

{% block page_script %}

    <!-- Bokeh includes-->
    {{ js | safe }}
    {{ css | safe }}
{% endblock %}

{% block map %}
{% include 'timemap.html' %}
<div style ='position: fixed;
    top: 70px;
    right: 26%;
    width: 220px;
    height: 120px;
    background-color: white;
    z-index: 999;
    font-size: 12px;
    padding: 10px 5px 5px 10px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);'>
    <p><b>Legende</b></p>
    <i class="far fa-circle" style ='color: #d7191c; margin-right: 3px; -webkit-text-stroke: 1px #d7191c;'></i> Universität </br>
    <i class="far fa-circle" style ='color: #fdae61; margin-right: 3px; -webkit-text-stroke: 1px #fdae61;'></i> Fachhochschulen / HAW</br>
    <i class="far fa-circle" style ='color: #5e3c99; margin-right: 3px; -webkit-text-stroke: 1px #5e3c99;'></i> Kunst- und Musikhochschulen</br>
    <i class="far fa-circle" style ='color: #008837; margin-right: 3px; -webkit-text-stroke: 1px #008837;'></i> Hochschulen eigenen Typs</br>
</div>
{% endblock %}

{% block data %}
    {{ super() }}
{% endblock%}

{% block gender %}
{% endblock %}

{% block nationality %}
{% endblock %}

{% block year %}
{% endblock %}

{% block state %}
{% endblock %}

{% block year_slider %}
<div class="mb-0" id="year-slider-uni"></div>
<div class="d-flex justify-content-between" id="slider-range">
    <span>1386</span>
    <span>2017</span>
</div>
{% endblock %}

{% block articletitle %}
<h4>Die Anzahl der Hochschulen in Deutschland in Jahren 1386 - 2017</h4>
{% endblock %}

{% block article %}
<div class="col-md-5 h-100">
<table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">Hochschultyp</th>
        <th scope="col">Anzahl, Jahr <span id="uni-year">1386</span></th>
        <th scope="col">Anzahl, Insgesamt</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">Universität</th>
        <td id="uni">1</td>
        <td id="uni-all">1</td>
    </tr>
    <tr>
        <th scope="row">Fachhochschule</th>
        <td id="hs">0</td>
        <td id="hs-all">0</td>
    </tr>
    <tr>
        <th scope="row">Kunst- und Musikhochschulen</th>
        <td id="kmh">0</td>
        <td id="kmh-all">0</td>
    </tr>
    <tr>
        <th scope="row">Hochschulen eigenen Typs</th>
        <td id="other">0</td>
        <td id="other-all">0</td>
    </tr>
    <tr>
        <th scope="row">Insgesamt</th>
        <td id="result-year">1</td>
        <td id="result-all">1</td>
    </tr>

  </tbody>
</table>
</div>
{% endblock %}

{% block graph %}
<div class="col-md-7 h-100">
    <div class="float-right" id="graph">
        {{ script | safe }}
        {{ div | safe }}
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}