{% extends 'base.html' %}

{% block page_script %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bokeh includes-->
    {{ js | safe }}
    {{ css | safe }}
{% endblock %}

{% block map %}
{% include 'timemap.html' %}
<div style ='position: fixed;
    top: 70px;
    right: 26%;
    width: 220px;
    height: 120px;
    background-color: white;
    //border: 1px solid grey;
    z-index: 9999;
    font-size: 12px;
    padding: 10px 5px 5px 10px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);'>
    <p><b>Legende</b></p>
    <i class="far fa-circle" style ='color: #d7191c; margin-right: 3px; -webkit-text-stroke: 1px #d7191c;'></i> Universität </br>
    <i class="far fa-circle" style ='color: #fdae61; margin-right: 3px; -webkit-text-stroke: 1px #fdae61;'></i> Fachhochschulen / HAW</br>
    <i class="far fa-circle" style ='color: #5e3c99; margin-right: 3px; -webkit-text-stroke: 1px #5e3c99;'></i> Kunst- und Musikhochschulen</br>
    <i class="far fa-circle" style ='color: #008837; margin-right: 3px; -webkit-text-stroke: 1px #008837;'></i> Hochschulen eigenen Typs</br>
</div>
{% endblock %}

{% block data %}
    {{ super() }}
{% endblock%}

{% block gender %}
{% endblock %}

{% block nationality %}
{% endblock %}

{% block year %}
{% endblock %}

{% block state %}
{% endblock %}

{% block year_slider %}
<div class="mb-0" id="year-slider"></div>
<div class="d-flex justify-content-between" style="margin-top: -10px;">
    <span>1386</span>
    <span>2017</span>
</div>

{% endblock %}

{% block graph %}
<div class="mb-3" id="graph">
    {{ script | safe }}
    {{ div | safe }}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}