html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    /*background-color: #edeae5;*/
    /*color: #024b52;*/
    }
#main-container {
    padding: 0;
    font-size: 14px;
}
#header-row{
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #e8e4dd;
}
#custom-header {
    margin: 15px 0 0 15px;
    padding: 0;
    border-bottom: none;

}
#custom-header > h1{
    font-size: 28px;
    margin-top: 10px;
}
#main-content {
    height: calc(100% - 65px);
    /*height: 100%;*/
    padding: 0;
    margin: 0;
    /*padding-right: 15px;*/
}
#folium-map {
    margin: 0;
    height: calc(100% - 60px);
}

#options-bar {
    border-left: 5px solid #e8e4dd;
}
#options-bar > h2 {
    font-size: 24px;
}
#slider-range {
    margin-top: -10px;
}

#custom-legend {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 450px;
    height: 48px;
    background-color: #ffffffbf;
    z-index: 500;
    font-size: 12px;
    padding: 23px 10px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
}

#graph {
    /*position: absolute;*/
    /*top: 60px;*/
}
.statistic-content {
    position: absolute;
    bottom: 0;
    height: 60px;
    z-index: 1000;
    background-color: white;
    overflow: hidden;
    transition: height 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.open-info {
    height: 100%;
    z-index: 1000;
    overflow: hidden;
}
.statistic-content a{
    cursor: pointer;
    display: block;
}
.btn-showinfo {
    text-align: center;
    width: 100%;
    margin: 5px 60px;
    display: block;
    height: 50px;
    border-bottom: 1px solid #e8e4dd;
}
.angle {
    font-size: 18px;
    line-height: 18px;
}
.btn-showinfo:hover .angle{
    font-size: 20px;
}
.extra-content {
    height: calc(100% - 60px);
    width: 100%;
    margin: 5px;
    align-items: center;
    /*display: flex;*/
    position: relative;
    z-index: 1000;
}
#extra-content-title{
    height: 60px;
}
#extra-content-article{
    height: calc(100% - 60px);
}
#table-students-states * {
    padding: 4px;
}

#table-place-of-study * {
    padding: 4px;
}

#bin-box {
    width: 420px;
    display: flex;
    border: 1px solid #8080807d;
    margin: auto;
}

#bin-box p {
    margin-top: -15px;
    margin-left: -5px;
}

#bin0 {
    height: 10px;
    width: 80px;
    background-color: #fef0d9;
}

#bin1 {
    height: 10px;
    width: 80px;
    background-color: #fdd49e;
}

#bin1 p {
    margin-left: -10px;
}

#bin2 {
    height: 10px;
    width: 80px;
    background-color: #fdbb84;
}

#bin2 p {
    margin-left: -10px;
}

#bin3 {
    height: 10px;
    width: 80px;
    background-color: #fc8d59;
}

#bin3 p {
    margin-left: -15px;
}

#bin4 {
    height: 10px;
    width: 80px;
    background-color: #e34a33;
    display: flex;
    justify-content: space-between;
}

#bin4 p {
    margin-left: -20px;
}

#bin5 {
    height: 10px;
    width: 80px;
    background-color: #b30000;
    display: flex;
    justify-content: space-between;
}

#bin5 p {
    margin-left: -20px;
}
